.interview-card2{
    display: flex;
    width: 432px;
    border-bottom: 2px solid white;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
    cursor: pointer;

}
.interview-card2:hover{
    background-color:rosybrown;
}

.ic-2{
    width: 144px;
    margin-right:2px;
    padding:20px;
    /* background-color: antiquewhite; */
}
.smallText{
    font-size:11px;
}

.boldText{
    font-size:20px;
    font-weight: bold;
}
.student-list-interview{
    background-color: bisque;
    width: 90%;
    margin-bottom:20px;
}

.studentListToAssign{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:5px;
}

.student-list-interview{
     display: none;
     padding:5px;
}

.newAssignBtn{
    margin-top: 10px;
    padding: 4px;

}
.students-already-assigned{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-close-btn{
    width:15px;
    height:15px;
    position: relative;
    top:4px;
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }